*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

h1 ,h2{
  letter-spacing: 2px;
  font-family: Georgia, serif;
}

.note{
  font: italic small-caps bold 16px/2 cursive;
}

:root {
  --clr-accent: #fa3660;
  --clr-light: #f9f9f9;
  --clr-rgba: rgba(140, 121, 121, 0.1);
}

button {
  font-size: 4rem;
  font-weight: 600;
  padding: 0.2em 0.7em;
  color: var(--clr-accent);
  background-color: var(--clr-rgba);
  border-radius: 10px;
  border: 3px solid var(--clr-accent);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

tbody tr{
  transition: transform 0.8s, background-color 0.3s, color 0.3s;
}

tbody tr:hover{
  transform: translateY(-5px);
  background-color: #3f4961;
  color: var(--clr-light);
  box-shadow: 0px 0px 10px rgb(12, 12, 12);
}

button:hover {
  transform: translateY(-5px);
  background-color: var(--clr-accent);
  color: var(--clr-light);
  box-shadow: 0px 0px 10px rgb(12, 12, 12);
}

select{
  background-color: #3f4961;
  color: #c3c7d3;
  padding: 3px;
  padding-left: 10px;
  border-radius: 5px;
}


/* Admin Navigation page css */

.navimg{
  cursor: pointer;
}

nav{
  background-color:#3f4961;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 0px;
  cursor: pointer;
}
nav a:hover{
  background-color: rgba(141, 141, 141, 0.3);
  transform: scaleX(0.9);
  border-radius: 5%;
  transition: 1s;
}

nav li:first-child{
  margin-right: auto;
  cursor: pointer;
}

.top-nav{
  color: #c3c7d3;
}

.top-nav_menu {
  display: flex;
}

h1 span {
  display: inline-block;
  animation: bounce 1s ease ;
  font-size: 40px;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
h1 span:nth-child(2){
  animation-delay: 0.1s;
}
h1 span:nth-child(3){
  animation-delay: 0.2s;
}
h1 span:nth-child(4){
  animation-delay: 0.3s;
}
h1 span:nth-child(5){
  animation-delay: 0.4s;
}
h1 span:nth-child(6){
  animation-delay: 0.5s;
}
h1 span:nth-child(7){
  animation-delay: 0.6s;
}
h1 span:nth-child(8){
  animation-delay: 0.7s;
}
h1 span:nth-child(9){
  animation-delay: 0.8s;
}
h1 span:nth-child(10){
  animation-delay: 0.9s;
}
h1 span:nth-child(11){
  animation-delay: 1s;
}

@keyframes bounce {
  0%,100%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-10px);
  }
  75%{
    transform: translateY(5px);
  }
}

.menu-button{
  display: none;
}

.sidebar,.submenu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index:199;
  background-color: #3f4961a8;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(71, 67, 67, 0.44);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #c3c7d3;
}

.sidebar a:hover{
  background-color: #3f4961;
  transform: scale(1.1);
  transition: 1s;
  border-radius: 30px;
}

.submenu a:hover{
  background-color: #3f4961;
  transform: scale(1.1);
  transition: 1s;
  border-radius: 20px;
}

.sidebar li{
  width: 100%;
}

.sidebar a {
  width: 80%;
}

.submenu li{
  width: 100%;
}

.submenu a {
  width: 100%;
}
.sidebar li:first-child a{
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

.submenu li:first-child a{
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

.sidebar li:first-child a:hover{
  background-color: #3f496100;
  transform: scale(1);
  border-radius: 0px;
}

.submenu li:first-child a:hover{
  background-color: #3f496100;
  transform: scale(1);
  border-radius: 0px;
}

.sidebar.hidden ,.submenu.hidden{
    display: none;
}

.sidebar.visible,.submenu.visible {
    display: flex;
}

/* for larger devices */
@media(min-width: 800px){
  .top-nav{
    height: 80px;
  }
  .overlay-content img {
    width: 450px;
  }
  *{
    font-size: 17px;
  }
  .ftr_hr{
    display: none;
  }
  .footer_vr{
    border-right: 1px solid gray;
    height: 100px;
  }
  .navimg{
    display: none;
  }
  .card:hover{
    width: 50%;
  }
}

/* for medium devices */
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
    cursor: pointer;
  }
  .overlay-content img {
    width: 350px;
  }
  *{
    font-size: 15px;
  }
  .card:hover{
    width: 90%;
  }
}

 /* for smaller devices */
@media(max-width: 426px){
  .sidebar{
    width: 100%;
  }
  .navimg{
    display: none;
  }
  .overlay-content img {
    width: 250px;
  }
  *{
    font-size: 14px;
  }
  h1{
    span{
      font-size: 30px;
    }
  }
  .container{    
    flex-direction: column;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card:hover{
    width: 90%;
  }
}

/* Student login page css */

.background-image {
  background-image: url('C:/Users/Harit/Desktop/project/frontend/src/assets/images/attendance_bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vW;
  filter: blur(10px);
  position: relative;
}

.dbl_btns{
  display: flex;
  flex-direction: column;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  background-color: #fdfeff;
  padding: 20px;
  border: 1px solid;
  box-shadow: 0px 0px 30px rgb(9, 8, 8);
  border-radius: 10px;

}

Modal.Title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Otp verification page */

.otp-area{
  width: 70%;
  display: flex;
  gap:10px;
}

.otp-area input{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}

.otp-area input:focus{
  outline: 2px solid;
  outline-offset: 2px;
}

/* student dashboard*/

.std_Attendance_modal .modal-dialog {
  height: 200vh;
  max-width: 95%; /* Change this value to your desired width */
}

.light-mode {
  background-color: rgb(255, 244, 230);
  color: black;
  .std_mdl_hdr{
    button{
      border: 1px solid black;
    }
  }
  .std_mdl_ftr{
    display: contents;
  }
}

.dark-mode {
  background-color: #181f2f; 
  color: black; 
  .std_mdl_hdr{
    color:#c3c7d3;
    background-color:#3f4961;
    border:1px solid #c3c7d3;
    button{
      color: #c3c7d3;
      border: 1px solid #c3c7d3;
    }
  }
  .std_mdl_ftr{
    background-color:#c3c7d3;
    color:#3f4961;
    display: contents;
  }
}

.dark-mode .thead-dark th {
  color: white;
  background-color: #6c757d; 
}

.btn-outline-secondary {
  width: 150px;
  color:#343a40; /* Button text color in dark mode */
  border-color: #343a40; /* Button border color in dark mode */
}

.std_mdl_hdr{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

/* Add Department css */

.Add_dept_div {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  gap: 10px; 
  width: 100%; 
  padding-bottom: 15px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table{
  text-align: center;
}

/* admin dashboard css */

.admin_body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container{
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.card{
  width: 45%;
  transition: all 1s ease-in;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(136, 136, 136);
  .discription {
    margin-top: -75px;
  }
}
.card:hover{
  height: 300px;
  .discription {
    margin-top: -0px;
  }
}
.card .discription {
  opacity: 0;
  transition: opacity 1s ease;
}
.card:hover .discription{
  opacity: 1;
}

/* footer css */

.footer_links,.footer_nav *,.footer_div{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
ul{
  align-items: center;
  gap: 15px;
  justify-content: center;
}
}

.for_ftr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cnt {
  flex: 1;
}

/* /All students */

.all_std_nav {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
}

.all_std_nav div {
  display: flex;
  padding: 10px;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
  flex-basis: 200px; 
}

.nav_active.active {
  background-color: #6d7db59c;
  color: #f5f5f6b0;
}


/* /for log out logo */
.cls-1{
  fill:none;
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:20px;
}

.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8); /* Darker black overlay */
}

.custom-modal-backdrop-light {
  background-color: rgba(255, 255, 255, 0.8); /* Light overlay */
}

/* password reset*/

.custom-modal {
  background-color: rgba(142, 183, 201, 0.393);
  backdrop-filter: blur(10px);/* Adjust values as needed */
}
